<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clf</title>
</head>
<style>
    label{
        font-family: Arial;
        font-size: 120%;
        color: #000080;
    }
    body{
        background: #faf0e8;
        color: #134;
    }
</style>
<body>
<h1>Введите статью</h1>

<form method="POST" action = "/answer">


<br>     <input type= "text" name="article"></br>
<br>     <input type="submit" value = 'OK'></br>


</form>

</body>
</html>